doctype html

html
    head
        title Ejemplo de PUG
        link(
            rel="stylesheet"
            href="styles.css"
        )

    body

        include components/general/main-header/main-header.pug
        
        main
            section.portada
                h1 Hola mundo


            section.obras
                include components/obras/obrasLista/obrasLista.pug

