header.main-header
    nav
        ul
            li
                a(
                    href="index.html"
                ) Inicio
            li
                a(
                    href="otra.html"
                ) Otra
            li
                a(
                    href="tercera.html"
                ) Tercera